<div class="aliados">
    <h2>Nuestros Aliados</h2>
    <div class="grid-container">
        {{#each Aliados}}
        <div class="grid-item"><img src="{{imgUrl}}" alt="{{name}}"></div>
        {{/each}}
    </div>
</div>