<footer>
    <div class="izquierdo">
        <picture>
            <img class="imagenLogo" src="img/LogoHorizontal.png" alt="imagen logo">
        </picture>


        <div class="contacto">
            <ul>
                <li><img src="/img/telefono.png" alt="icono telefono"> (+504) 2226-4527</li>

                <li><img src="/img/correo.png" alt="icono correo"> contacto@ahdesa.org</li>
            </ul>
        </div>

        <div class="frase">

            <p>© Todos los Derechos Reservados • Asociación Hondureña para el Desarrollo S.A. (AHDESA)</p>

            <a href="https://www.facebook.com/AHDESAOficial/" target="_blank"><img src="/img/facebook.png" alt="icono facebook"></a>
            <a href="https://twitter.com/AHDESAHonduras" target="_blank"><img src="/img/twitter.png" alt="icono twitter"></a>
            <a href="https://twitter.com/AHDESAHonduras" target="_blank"><img src="/img/instagram.png" alt="icono instagram"></a>
            <a href="https://www.youtube.com/channel/UCADgR9ERNyhfgLmzwzUQB8Q" target="_blank"><img src="/img/youtube.png" alt="icono youtube"></a>
            <a href="https://www.linkedin.com/company/ahdesa/?viewAsMember=true" target="_blank"><img src="/img/link.png" alt="icono linkedIn"></a>
            <a href="https://www.flickr.com/photos/196781056@N08/" target="_blank"><img src="/img/otro.png" alt="icono flickr"></a>
        </div>
    </div>

    <div class="derecha">
        <div class="columna">
            <ul>
                <li><a href="nosotros.html">Sobre Nosotros</a></li>
                <li><a href="logros.html">Nuestros Logros</a></li>
                <li><a href="noticias.html">Noticias AHDESA</a></li>
                <li><a href="contactanos.html">Contáctenos</a></li>
            </ul>
        </div>
        <div class="columna">
            <ul>
                <li><a href="proyectos.html">Proyectos</a></li>
                <li><a href="maestros.html">Maestros y Maestras Fogoneras</a></li>
                <li><a href="iniciativa.html">Iniciativa Amas de Casa Saludables</a></li>
            </ul>
        </div>
    </div>
</footer>