<div class="cuerpo">

    <section class="sobre_red">

        <div class="tarjeta_sobre_d">
            <div class="texto">
                <div class="titulo_tarjeta">
                    <h2>Hornos "Manny" para cerámica artesanal</h2>
                </div>
                <div class="texto_tarjeta">
                    <p>El municipio de Ojojona es el principal productor de cerámica artesanal de Honduras. Los talleres
                        de
                        alfarería gastan en promedio un 32% de sus ingresos en la compra de leña para la elaboración de
                        cerámica en sus hornos tradicionales generando un fuerte impacto económico y ambiental.
                        PRINCIPALES
                        LOGROS: Mejora de la infraestructura de producción a 80 talleres artesanales de cerámica
                        Reducción
                        del 40% de consumo de leña por cada horno Manny instalado Reducción de la exposición del
                        operario al
                        humo y al calor Mejoramiento de la calidad y reducción de pérdidas de las piezas de cerámica
                        artesanal"
                    </p>
                </div>
            </div>

            <div class="imagen_tarjeta">
                <img alt="Imagen maestro(a) fononero" src="/img/hornosMary.jpg" />
            </div>

        </div>

        <div class="tarjeta_sobre_i">
            <div class="texto">
                <div class="titulo_tarjeta">
                    <h2>Pilas para almacenar agua y limpieza del hogar</h2>
                </div>
                <div class="texto_tarjeta">
                    <p>Mediante este proyecto la fundación Anawin con el apoyo de la Fundación Roncalli y la ejecución
                        de
                        AHDESA se logró mejorar la capacidad de almacenamiento de agua de 100 hogares mediante la
                        instalación y funcionamiento de pilas para almacenamiento de un barril de agua distribuido en
                        los
                        hogares de las comunidades El Aceituno y El Empedrado del Municipio del Distrito Central y cabos
                        de
                        Hacha, las Gradas y Potocolo Municipio de Lepaterique. PRINCIPALES LOGROS: 100 hogares
                        beneficiados
                        mediante la construcción y puesta en funcionamiento de 100 pilas de almacenamiento de agua. 5
                        comunidades han mejorado su capacidad de captación y gestión de agua. Mejoramiento en las
                        actividades del hogar para la limpieza de utensilios de la cocina y lavado de la ropa.
                    </p>
                </div>
            </div>
            <div class="imagen_tarjeta">
                <img alt="Imagen maestro(a) fononero" src="/img/pilasAlmacenar.jpg" />
            </div>
        </div>

        <div class="tarjeta_sobre_d">
            <div class="texto">
                <div class="titulo_tarjeta">
                    <h2>Letrinas de cierre hidráulico</h2>
                </div>
                <div class="texto_tarjeta">
                    <p>Mediante el desarrollo del proyecto se mejoró el saneamiento básico de hogares en las comunidades
                        rurales de Trujillito, El Cimarrón, El Aceituno y La Sabana Departamento de Francisco Morazán
                        evitando la exposición de las excretas al aire libre de los habitantes de los hogares
                        beneficiados y
                        de esa manera contribuir con la higiene en el hogar, mejorar la salud comunitaria y las
                        condiciones
                        de vida de los habitantes además de Reducir el riesgo de enfermedades infectocontagiosas en las
                        comunidades seleccionadas por el proyecto. PRINCIPALES LOGROS: 50 hogares con más de 255
                        personas
                        beneficiadas Construcción e instalación de 50 letrinas de cierre hidráulico en igual número de
                        viviendas 4 comunidades han disminuido el riesgo de enfermedades infectocontagiosas por excretas
                        humanas al aire libre.
                    </p>
                </div>
            </div>

            <div class="imagen_tarjeta">
                <img alt="Imagen maestro(a) fononero" src="/img/letrinasCierre.jpg" />
            </div>

        </div>

        <div class="tarjeta_sobre_i">
            <div class="texto">
                <div class="titulo_tarjeta">
                    <h2>Proyecto de iluminación con energía solar "Luciérnaga"</h2>
                </div>
                <div class="texto_tarjeta">
                    <p>Con el apoyo del proyecto “Acelerando el acceso a energía en América Latina” se promovieron
                        tecnologías con energía solar de bajo costo que brindaran el servicio de iluminación
                        domiciliaria y
                        el cargado de celular en las zonas sin acceso a energía electica de la red nacional a un precio
                        accesible para los campesinos y personas que habitan estas áreas sin cobertura. PRINCIPALES
                        LOGROS:
                        4,500 hogares sin acceso a la red electica nacional cuentan con un sistema de iluminación y
                        cargado
                        de celulares básico. 12 organizaciones nacionales fortalecidas en procesos de distribución de
                        tecnologías limpias Introducción al mercado nacional de tecnologías de iluminación con energía
                        solar
                        de bajo costo con aplicación de garantía.
                    </p>
                </div>
            </div>
            <div class="imagen_tarjeta">
                <img alt="Imagen donde estan distribuidos" src="/img/luciernaga.jpg" />
            </div>
        </div>
    </section>
</div>