<div class="cuerpo">
    <div class="title">
        <p>AHDESA capacita a miembros de las comunidades en la promoción, construcción, reporte y venta de estufas mejoradas.</p>
    </div>
    
    <section class="texto_superior">
        <h2>Generación de Empleo y Reducción de Impacto en el Ambiente</h2>
        <p>El proyecto 'Maestro Fogonero y Maestra Fogonera' (MF) de AHDESA ofrece a hombres y mujeres la formación
            técnica y académica necesaria para construir estufas mejoradas, promover la sostenibilidad de su oficio y
            difundir tecnologías de cocción limpia.</p>
    </section>

    <section class="tarjetas_contenedor">

        <div class="tarjeta">
            <div class="imagen_tarjeta">
                <img alt="Icono Generación de Empleo e Ingresos" src="/img/ingresos.png" />
            </div>
            <div class="titulo_tarjeta">
                <h2>Generación Sostenible de Empleo e Ingresos</h2>
            </div>
            <div class="texto_tarjeta">
                <p>El oficio de maestro o maestra fogonera genera
                    ingresos a familias de escasos recursos a través
                    de la construcción de estufas mejoradas.
                </p>

            </div>
        </div>

        <div class="tarjeta">
            <div class="imagen_tarjeta">
                <img alt="Icono Capacitación y Formación de Liderazgo" src="/img/liderazgo.png" />
            </div>
            <div class="titulo_tarjeta">
                <h2>Capacitación y Formación de Liderazgo</h2>
            </div>
            <div class="texto_tarjeta">
                <p>AHDESA brinda la preparación técnica para la
                    construcción de estufas mejoradas, a la vez
                    fortalece las capacidades de liderazgo.
                </p>
            </div>
        </div>

        <div class="tarjeta">
            <div class="imagen_tarjeta">
                <img alt="Icono Promoción de tecnologías de Cocción Limpia." src="/img/coccion.png" />
            </div>
            <div class="titulo_tarjeta">
                <h2>Promoción de Tecnologías de Cocción Limpia.</h2>
            </div>
            <div class="texto_tarjeta">
                <p>La Red construye estufas mejoradas en diferentes
                    regiones de Honduras, reduciendo leña para
                    consumo y promoviendo así la cocción limpia.
                </p>
            </div>
        </div>

    </section>


    <section class="sobre_red">
        <div class="tarjes">
            <div class="titulo">
                <h2>Sobre la Red de Maestros y Maestras Fogoneras de Honduras</h2>
            </div>

            <div class="tarjeta_sobre_derecha">
                <div class="texto">
                    <div class="titulo_tarjeta">
                        <h2>¿Qué es un(a) Maestro(a) Fogonero(a)?</h2>
                    </div>
                    <div class="texto_tarjeta">
                        <p>Un Maestro Fogonero o Maestra Fogonera es aquel
                            profesional capacitado para promover, construir,
                            reportar y vender estufas mejoradas. Además, desarrolla
                            habilidades para establecer relaciones con instituciones
                            financieras locales, ONGs y otros actores que promueven
                            tecnologías de cocción limpia, buscando la sostenibilidad de
                            su oficio."
                        </p>
                    </div>
                </div>
                <div class="imagen_tarjeta">
                    <img alt="Imagen maestro(a) fononero" src="/img/MaestroQueSon.jpg" />
                </div>
            </div>

            <div class="tarjeta_sobre_iz">
                <div class="imagen_tarjeta">
                    <img alt="Imagen donde estan distribuidos" src="/img/distribuidos.jpg" />
                </div>

                <div class="texto">
                    <div class="titulo_tarjeta">
                        <h2>¿Dónde Están Distribuidos?</h2>
                    </div>
                    <div class="texto_tarjeta">
                        <p>124 Maestros Fogoneros y 22 Gestores Emprendedores
                            de 43 municipios y 15 departamentos de Honduras
                            forman parte de 'La Red Nacional de Maestros
                            Fogoneros'. Destaca el enfoque de género, con un
                            26% de participación de mujeres como Maestras
                            Fogoneras.
                        </p>
                    </div>
                </div>
            </div>

            <div class="tarjeta_sobre_derecha">
                <div class="texto">
                    <div class="titulo_tarjeta">
                        <h2>¿Cómo Funciona?</h2>
                    </div>
                    <div class="texto_tarjeta">
                        <p>El proyecto busca establecer procesos
                            sostenibles donde los Maestros Fogoneros
                            promocionan sus servicios y construyen estufas
                            mejoradas con el acompañamiento técnico de
                            AHDESA. Los Maestros Fogoneros son
                            responsables de vender, registrar y
                            reportar las estufas, mientras que el
                            costo de la mano de obra y los materiales es
                            responsabilidad del cliente.
                        </p>
                    </div>
                </div>
                <div class="imagen_tarjeta">
                    <img alt="Imagen maestro(a) fononero" src="/img/funcionaMaestros.jpg" />
                </div>
            </div>
        </div>
    </section>

    <section class="boton">
        <button class="boton_grande" type="submit" name="btnEnviar">Contacta a una Maestra o Maestro Fogonero</button>
    </section>
</div>