<div class="contenedor_noticias">
    {{#each Noticias}}
    <div class="tarjeta_noticias">
        <img src="{{imgUrl}}" alt="{{name}}">
        <h2>{{content}}</h2>
        <p>{{text}}</p>
    </div>
    {{/each}}
</div>