<div class="container_socios">
    {{#each Socios}}
    <div class="card_socios">
        <img src="{{imgUrl}}" alt="{{name}}">
        <h2>{{content}}</h2>
        <p>{{text}}</p>
    </div>
    {{/each}}
</div>